body {
    margin: 0px}

.stripe {
    width: 100vw; 
    height: 50vh;
    position: relative;
}
.label {
   left: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 36px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}